<app-navbar></app-navbar>
<app-addcliente *ngIf="mostrarficha">
</app-addcliente>


<div *ngIf="mostrarbuscar" class="container animated fast fadeIn ">

    <form  [formGroup]="forma" id="respon"class="form-group p-2" style="background-color: white;">
        <!--Inicio Filtros-->
        <div class="container-fluid oculto-impresion">

            <div class="row">
                <div class="col-md-3 col-sm-12 ">

                    <div class="input-group input-group-sm mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text textobuscar" id="inputGroup-sizing-sm">R.U.C.</span>
                        </div>
                        <input (keyup)="buscaRuc1($event)" type="text" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" maxlength="11" name="ruc" formControlName="ruc" style="color: white;background-color:grey;font-size:17px;font-family: tahoma;">
                    </div>

                </div>
                <div class="col-md-5">



                </div>
                <div class="col-md-4 col-sm-12">

                    <div class="input-group input-group-sm mb-3 mt-2 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text textobuscar" id="inputGroup-sizing-sm">CLIENTE</span>
                        </div>
                        <input (keyup.enter)="buscaRsocial(textobuscar.value)" type="text" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="rsocial" formControlName="rsocial" style="color: white;background-color:grey;font-size:17px;font-family: tahoma;"
                            #textobuscar>
                    </div>
                </div>
            </div>
            <div class="container p-1" style="border:2px solid rgb(218, 213, 213);border-radius: 5px;cursor:pointer; color: white;">

                <div class="container-fluid " title="Seleccione Filtro por Status o Responsable...">
                    <div class="row" style="border-radius: 5px;  background-color: rgb(196, 201, 216);">

                        <div [ngClass]="seleccionfiltro" (click)="buscaStatus1(this.value='CONTACTO')" name="contacto" class="col-md-1 col-sm-12  filtro " title="Seleccione Filtro por Status...">CONTACTO</div>
                        <div [ngClass]="seleccionfiltro2" (click)="buscaStatus2(this.value='PRESENTACION')" class="col-md-2 col-sm-12  filtro" title="Seleccione Filtro por Status...">PRESENTACION</div>
                        <div [ngClass]="seleccionfiltro3" (click)="buscaStatus3(this.value='VISITA / REUNION')" class="col-md-2 col-sm-12  filtro" title="Seleccione Filtro por Status...">VISITA / REUNION</div>
                        <div [ngClass]="seleccionfiltro4" (click)="buscaStatus4(this.value='PROPUESTA ENVIADA')" class="col-md-1 col-sm-12  filtro" title="Seleccione Filtro por Status...">PROPUESTA</div>
                        <div [ngClass]="seleccionfiltro5" (click)="buscaStatus5(this.value='MANEJO DE OBSERVACIONES')" class="col-md-2 col-sm-12 filtro" title="Seleccione Filtro por Status...">MANEJO DE OBS</div>
                        <div [ngClass]="seleccionfiltro6" (click)="buscaStatus6(this.value='CIERRE')" class="col-md-1 col-sm-12  filtro" title="Seleccione Filtro por Status...">CIERRE</div>
                        <div [ngClass]="seleccionfiltro7" (click)="buscaStatus7(this.value='NO CONTACTAR')" class="col-md-2 col-sm-12 filtro" title="Seleccione Filtro por Status...">NO CONTACTAR</div>
                        <div [ngClass]="seleccionfiltro8" (click)="buscaStatus8(this.value='PENDIENTE')" class="col-md-1 col-sm-12 filtro" title="Seleccione Filtro por Status...">PENDIENTE</div>
                    </div>
                </div>
                <div class="container-fluid mt-2">

                    <div class="row" style="border-radius: 5px;  background-color: rgb(196, 201, 216);">

                        <div (click)="buscaResponsable(this.value='AG')" class="col-md-2 col-sm-12 itemfondoini filtro" title="Filtrar por Responsable...">AG</div>
                        <div (click)="buscaResponsable(this.value='DP')" class="col-md-2 col-sm-12 itemfondoini filtro" title="Filtrar por Responsable...">DP</div>
                        <div (click)="buscaResponsable(this.value='VM')" class="col-md-2 col-sm-12 itemfondoini filtro" title="Filtrar por Responsable...">VM</div>
                        <div (click)="buscaResponsable(this.value='EJECUTIVO')" class="col-md-3 col-sm-12 itemfondoini filtro" title="Filtrar por Responsable...">EJECUTIVO</div>
                        <div (click)="getAllData()" class="col-md-3 col-sm-12 text-center itemfondotodos filtro" title="Sin filtros para obtener toda la Base de Datos...">TODOS</div>



                    </div>
                </div>
            </div>
        </div>

        <!--Fin Filtros-->

        <div class="container mt-2 tabla">

            <table class="table table-hover" style=" opacity:0.85; font-size:10px;width:100%;padding:0px;margin:0px;">
                <thead class="fuente">

                    <th> # </th>
                    <th>RUC</th>
                    <th>RAZON SOCIAL</th>
                    <th>PLAZO</th>
                    <th>SERVICIO</th>
                    <th>STATUS</th>
                    <th>RESPONSABLE</th>
                    <th>DISTRITO</th>
                    <th></th>
                    <th></th>
                </thead>


                <tbody>



                    <tr *ngFor="let item of clientes;let i = index;">
                        <td scope="row"> {{i+1}}</td>
                        <td class="text-large">{{item.ruc}}</td>
                        <td class="text-left">{{item.rsocial}}</td>
                        <td>{{item.plazoclie}}</td>
                        <td>{{item.servicio}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.responsable}}</td>
                        <td>{{item.distrito}}</td>
                        <td class="iconosaccion">
                            <i (click)="getFicha(item.uid, item)" class="fas fa-table text-success" title="Actualizar"></i>
                        </td>
                        <td class="iconosaccion">
                            <i (click)="deleteCliente(item.uid,item.rsocial)" class="fas fa-eraser text-danger" title="Borrar"></i>
                        </td>


                    </tr>

                </tbody>

            </table>

        </div>

        <div class="container p-1 oculto-impresion" style="border:2px solid rgb(218, 213, 213); background-color:rgb(25, 79, 144);border-radius: 5px;">
            <div class="row">
                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <app-loading *ngIf="loading"></app-loading>
                    <div *ngIf="contador" class="alert text-white text-center p-1 m-0" style="font-size:12px;">
                        {{cantidad}} Items!
                    </div>
                    <div *ngIf="result" class="alert text-white text-center p-1 m-0">
                        Sin coincidencias!!!
                    </div>
                </div>
                <div class="col-md-4 container d-flex justify-content-center col-sm-12">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button (click)="crearExcel()" type="button" class="btn btn-block btn-bloque text-center">
                                <img src="../../../assets/imagen/excel.png" class="rounded" title="Descargar en Excel" width="60" height="35">
                            </button>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button (click)="enviarPrinter()" type="button" class="btn btn-block btn-bloque text-center ">
                                <img src="../../../assets/imagen/print.png"   class="rounded" title="Enviar Resultados" width="60" height="35"> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
