<div class="container-fluid fondomain animated fast fadeIn ">
   

        
            <div *ngIf="mostrarficha"class="container p-0 d-flex fondomain justify-content-center animated fast fadeIn ">
                
                <form  name="formCliente" #formCliente="ngForm" class="form-group " style="width:100%;min-height:1500px;height:auto;">
                    <div  id="respon"class="container-fluid p-2" style="">
                           
                            <div class="col-md-12  m-2 text-white text-center ">
                                
                                <span class="p-2 fondotitulo bordes" style="font-size:18px;">Actualizando Ficha Cliente</span>
                            </div>
                            <input type="text" name="uid" class="input-form w-25 text-left" style="background-color:white;color:white;" disabled [(ngModel)]="this.dataCliente.selectedCliente.uid">
                        

                        <div class="container">
                            <div class="row">
                                <div class="col-md-1">
                                    <label>RUC </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="ruc" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.ruc">
                                </div>

                                <div class=" col-md-1">
                                    <label>Razón Social </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="input" name="rsocial" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.rsocial">
                                </div>
                                <div class=" col-md-1">
                                    <label>N.Comercial  </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="input" name="nombre" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.nombre">
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Estado Contrib.</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="inputlarge" type="text" name="estadocon" [(ngModel)]="this.dataCliente.selectedCliente.estadocon">
                                </div>
                                <div class="col-md-2">
                                    <label>Inicio Actividades </label>
                                </div>
                                <div class="col-md-3">
                                    <input class="input" type="input" name="fechaini" [(ngModel)]="this.dataCliente.selectedCliente.fechaini">
                                </div>
                                <div class=" col-md-2">
                                    <label>Años Exp. </label>
                                    <input class="inputsmall" type="text" name="aniosexp" min="0" max="99" placeholder="0" [(ngModel)]="this.dataCliente.selectedCliente.aniosexp">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row" style="overflow-y: scroll;height:100px;">
                                <div class="col-md-6 col-sm-12">

                                    <div class="container  text-center text-white fondotitulo bordes">
                                        <span class="subtitulo">Facturación 2017</span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Facturación  </label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="facturacion2017" [(ngModel)]="this.dataCliente.selectedCliente.facturacion2017">
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Prod. Farmacéuticos  </label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="productosfa2017" [(ngModel)]="this.dataCliente.selectedCliente.productosfa2017">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Reactivos de diagnóstico</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="reactivos2017" [(ngModel)]="this.dataCliente.selectedCliente.reactivos2017">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Equipos Médicos y Hosp</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="eqpmed2017" [(ngModel)]="this.dataCliente.selectedCliente.eqpmed2017">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Productos Orgánicos</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="productosor2017" [(ngModel)]="this.dataCliente.selectedCliente.productosor2017">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Productos de Cosmética</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="productosco2017" [(ngModel)]="this.dataCliente.selectedCliente.productosco2017">
                                        </div>
                                    </div>
                                </div>

                                <div class=" col-md-6 col-sm-12">
                                    <div class=" container text-center text-white bordes fondotitulo">
                                        <span class="subtitulo">Facturación 2018</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Facturación  </label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="facturacion2018" [(ngModel)]="this.dataCliente.selectedCliente.facturacion2018">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Prod. Farmacéuticos  </label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="productosfa2018" [(ngModel)]="this.dataCliente.selectedCliente.productosfa2018">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Reactivos de diagnóstico</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="reactivos2018" [(ngModel)]="this.dataCliente.selectedCliente.reactivos2018">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Equipos Médicos y Hosp</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="eqpmed2018" [(ngModel)]="this.dataCliente.selectedCliente.eqpmed2018">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Productos Orgánicos</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="productosor2018" [(ngModel)]="this.dataCliente.selectedCliente.productosor2018">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label>Productos de Cosmética</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="productosco2018" [(ngModel)]="this.dataCliente.selectedCliente.productosco2018">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6 col-sm-12">
                                    <div class=" container text-center text-white bordes fondotitulo">
                                        <span class="subtitulo">Facturación 2019</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Facturación  </label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="facturacion2019" [(ngModel)]="this.dataCliente.selectedCliente.facturacion2019">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Prod. Farmacéuticos  </label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="productosfa2019" [(ngModel)]="this.dataCliente.selectedCliente.productosfa2019">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Reactivos de diagnóstico</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="reactivos2019" [(ngModel)]="this.dataCliente.selectedCliente.reactivos2019">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Equipos Médicos y Hosp</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="eqpmed2019" [(ngModel)]="this.dataCliente.selectedCliente.eqpmed2019">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Productos Orgánicos</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="productosor2019" [(ngModel)]="this.dataCliente.selectedCliente.productosor2019">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Productos de Cosmética</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="productosco2019" [(ngModel)]="this.dataCliente.selectedCliente.productosco2019">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6 col-sm-12 ">
                                    <div class=" container text-center text-white bordes fondotitulo">
                                        <span class="subtitulo ">Facturación 2020</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Facturación </label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="facturacion2020" [(ngModel)]="this.dataCliente.selectedCliente.facturacion2020">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Prod. Farmacéuticos  </label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="productosfa2020" [(ngModel)]="this.dataCliente.selectedCliente.productosfa2020">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Reactivos de diagnóstico</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="reactivos2020" [(ngModel)]="this.dataCliente.selectedCliente.reactivos2020">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Equipos Médicos y Hosp</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="eqpmed2020" [(ngModel)]="this.dataCliente.selectedCliente.eqpmed2020">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Productos Orgánicos</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="productosor2020" [(ngModel)]="this.dataCliente.selectedCliente.productosor2020">
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label>Productos de Cosmética</label>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" name="productosco2020" [(ngModel)]="this.dataCliente.selectedCliente.productosco2020">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container ">
                            <div class="row ">
                                <div class="col-sm-12 ">
                                    <div class=" container-fluid text-center text-white bordes fondotitulo">
                                        <span class="subtitulo ">Ubicación del Cliente</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Dpto  </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input type="text" name="dpto " [(ngModel)]="this.dataCliente.selectedCliente.dpto">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Provincia  </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input type="text" name="provincia " [(ngModel)]="this.dataCliente.selectedCliente.provincia">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Distrito  </label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="input " type="text" name="distrito " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.distrito">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Dirección </label>
                                </div>
                                <div class="col-md-7 ">
                                    <input class="inputform" type="text" name="direccion " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.direccion">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Telefono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="input " type="inputform " name="fonofijo1 " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.fonofijo1">
                                </div>
                            </div>
                        </div>

                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Email </label>
                                </div>
                                <div class="col-md-5 ">
                                    <input class="inputform" type="email" name="email " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.email">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Facebook </label>
                                </div>
                                <div class="col-md-4 ">
                                    <input class="inputform" type="email" name="facebook " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.facebook">
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Web </label>
                                </div>
                                <div class="col-md-5 ">
                                    <input class="inputform" type="email" name="web " style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.web">
                                </div>
                                
                                <div class="col-md-1">
                                    <label>Linkedin </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="inputform " type="email" name="linkedin "  style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.linkedin ">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <label>Fecha Inicial Certificación BPA</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="input " name="fechainibpa " [(ngModel)]="this.dataCliente.selectedCliente.fechainibpa">
                                </div>
                                <div class="col-md-1 "></div>
                                <div class="col-md-3 ">
                                    <label>Fecha Final Certificación BPA </label>
                                </div>
                                <div class="col-md-1 ">
                                    <input class="input " type="input " name="fechafinbpa " [(ngModel)]="this.dataCliente.selectedCliente.fechafinbpa">
                                </div>
                            </div>
                        </div>


                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <label>Fecha Inicial Certificación BMP</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="input " type="input" name="fechainibmp " [(ngModel)]="this.dataCliente.selectedCliente.fechainibmp">
                                </div>
                                <div class="col-md-1 "></div>
                                <div class="col-md-3 ">
                                    <label>Fecha Final Certificación BMP </label>
                                </div>
                                <div class="col-md-1 ">
                                    <input class="input " type="input" name="fechafinbmp" [(ngModel)]="this.dataCliente.selectedCliente.fechafinbmp">
                                </div>
                            </div>
                        </div>


                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <label>Competencia BPA </label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="input" type="text" name="competenciabpa" [(ngModel)]="this.dataCliente.selectedCliente.competenciabpa">
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3 ">
                                    <label>Competencia BMP </label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="input" type="text" name="competenciabmp" [(ngModel)]="this.dataCliente.selectedCliente.competenciabmp">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class=" col-md-12 ">
                                    <div class=" container-fluid text-center text-white bordes fondotitulo">
                                        <span class="subtitulo ">Contactos y Responsables del Cliente</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Ger.General </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="text" name="ggeneral" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.ggeneral">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correogg" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correogg">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonogg" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonogg">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Dir.Técnico </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="text" name="directort" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.directort">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">

                                    <input class="inputform" type="email" name="correodt" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correodt">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonodt" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonodt">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Ger.Comercial </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="text" name="gcomercial" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.gcomercial">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correogc" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correogc">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonogc" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonogc">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Jef.Logística </label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="text" name="jogistica" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.jlogistica">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correojl" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correojl">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonojl" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonojl">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Apoderado(a)</label>
                                </div>
                                <div class="col-md-3 ">

                                    <input class="inputform" type="text" name="apoderada" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.apoderada">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correoapo" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.correoapo">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonoapo" style="width:80%;" [(ngModel)]="this.dataCliente.selectedCliente.telefonoapo">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Ger.Produc.</label>
                                </div>
                                <div class="col-md-3 ">

                                    <input class="inputform" type="text" name="gproduccion" style="width:100%;" [(ngModel)]="this.dataCliente.selectedCliente.gproduccion">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correogp" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correogp">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonogp" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonogp">
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1 ">
                                    <label>Administ.</label>
                                </div>
                                <div class="col-md-3 ">

                                    <input class="inputform" type="text" name="administrador" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.administrador">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Correo</label>
                                </div>
                                <div class="col-md-3 ">
                                    <input class="inputform" type="email" name="correoad" style="width:100%; " [(ngModel)]="this.dataCliente.selectedCliente.correoad">
                                </div>
                                <div class="col-md-1 ">
                                    <label>Teléfono</label>
                                </div>
                                <div class="col-md-2 ">
                                    <input class="inputform" type="text" name="telefonoad" style="width:80%; " [(ngModel)]="this.dataCliente.selectedCliente.telefonoad">
                                </div>
                            </div>
                        </div>

                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <span>RESPONSABLE</span>
                                    <select name="responsable" class="form-control" [(ngModel)]="this.dataCliente.selectedCliente.responsable">
                                        <option value="AG">AG</option>
                                        <option value="DP">DP</option>
                                        <option value="VM">VM</option>
                                        <option value="EJECUTIVO">EJECUTIVO</option>
                                    </select>
                                </div>
                                <div class="col-md-3 ">
                                    <span>PLAZO CLIENTE</span>
                                    <select name="plazoclie" class="form-control" [(ngModel)]="this.dataCliente.selectedCliente.plazoclie">
                                        <option value="CORTO">CORTO</option>
                                        <option value="MEDIANO">MEDIANO</option>
                                        <option value="LARGO">LARGO</option>
                                        <option value="DESCARTADO">DESCARTADO</option>
                                </select>
                                </div>
                                <div class="col-md-3 ">
                                    <span>SERVICIO</span>
                                    <select name="servicio" class="form-control" [(ngModel)]="this.dataCliente.selectedCliente.servicio">
                                        <option value="BPA">BPA</option>
                                        <option value="BPM">BPM</option>
                                        <option value="BPD">BPD</option>
                                        <option value="OPERACION LOGISTICA INTEGRAL">OPERACION LOGISTICA INTEGRAL</option>
                                        <option value="ASESORIA REGULATORIA">ASESORIA REGULATORIA</option>
                                    </select>

                                </div>
                                <div class="col-md-3 ">
                                    <span>STATUS</span>
                                    <select name="status" class="form-control" [(ngModel)]="this.dataCliente.selectedCliente.status">
                                    <option value="CONTACTO">CONTACTO</option>
                                    <option value="PRESENTACION">PRESENTACION</option>
                                    <option value="VISITA / REUNION">VISITA / REUNION</option>
                                    <option value="PROPUESTA ENVIADA">PROPUESTA ENVIADA</option>
                                    <option value="MANEJO DE OBSERVACIONES">MANEJO DE OBSERVACIONES</option>
                                    <option value="CIERRE">CIERRE</option>
                                    <option value="NO CONTACTAR">NO CONTACTAR</option>
                                    <option value="PENDIENTE">PENDIENTE</option>
                                </select>
                                </div>



                            </div>
                            <div class="row ">
                                <div class="container mt-2 ">
                                    <div class="row ">
                                        <div class="col-md-2 col-sm-12">
                                            <span class="input-group-text " id="inputGroup-sizing-sm ">Accion a seguir</span>
                                        </div>
                                        <div class="col-md-10 col-sm-12">
                                            <input type="text" class="input-form text-left controlaccion bordes " style="color: white;width:100%;background-color:grey;font-size:15px;font-family: tahoma; " name="accion " [(ngModel)]="this.dataCliente.selectedCliente.accion ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid p-2">
                            <div class="row d-flex justify-content-center">
                                <!--<div  *ngIf="botonnew " class="col-md-3 col-sm-12 ">
                            <button  (click)="nuevoCliente() "type="button " class="btn btn-primary btn-block m-1 ">Nuevo</button>
                        </div>-->
                                <div class="col-md-6 col-sm-12 ">
                                    <button (click)="updateCliente(this.dataCliente.selectedCliente)" type="button " class="btn btn-block botonguardar">Guardar</button>
                                </div>
                                <!--<div class="col-md-3 col-sm-12 ">
                            <button   (click)="updateFicha(this.dataCliente.selectedCliente) " type="button " class="btn btn-warning btn-block m-1 ">Actualizar</button>
                        </div>-->
                                <div class="col-md-6 col-sm-12 ">
                                    <button (click)="cerrarFicha() " type="button " class="btn btn-danger btn-block ">Cerrar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        

   
</div>